.python-version
src/piipaa/_version.py
dist/
src/piipaa.egg-info/
.coverage
__pycache__/
build/
.tox/

# mkdocs documentation
/site

# Local development artifacts
*~
.idea
*.log
local*
.vscode/
current-bandit.json
tmp*
foo

